@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/_variables';
@import 'base/_mixins';
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
.divider {
height: 3px;
width: 60px;
background-color: $main-color;
margin: 25px auto 0 auto;
}

@import 'blocks/_promo.scss';
@import 'blocks/_title';
@import 'blocks/_button.scss';
@import 'blocks/_sidepanel.scss';
@import 'blocks/_menu.scss';
@import 'blocks/about.scss';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/parameters';