.skills{
    margin-top: 120px;
    position: relative;
    &__title {
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        
    }
    &__items {
        margin: 60px 11px 0 10px;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }
    &__item {
        padding: 30px 29px 25px 30px;
        border: 1px solid black;
        &-title {
            display: block;
            margin-bottom: 15px;
            font-size: 14px;
        }
        &-img {
            margin-bottom: 20px;
        }
        &-descr {
            font-size: 12px;
        }
    }
}
